.note-list-item {
  padding-left: 0 !important;
}

.note-list-item-title-container {
    word-break: break-word
}

.note-list-item-content {
  min-width: 100px;
  border-radius: 5px;
  box-shadow: 4px 0px 10px -1px #ccc;
  padding: 15px;
}

.edit-note-input {
  width: 100%;
  font-size:14px !important;
}
