.note-list-item {
  padding-left: 0 !important;
}

.note-list-item-title-container {
  word-break: break-word;
  background: #ffffa5;
  font-size: 1.5em;
  padding: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  position: relative;
  text-align: center;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    border-width: 0 40px 40px 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.4) rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  &.blue {
    background: #69bcd2;
  }

  &.red {
    background: #ef8150;
  }

  &.pink {
    background: #ec6b89;
  }

  &.green {
    background: #ccd659;
  }

  &.pale-yellow {
    background: #eae06b;
  }
}

.note-list-item-content {
  min-width: 100px;
  border-radius: 5px;
}

.edit-note-input {
  width: 100%;
  font-size: 14px !important;
}
